*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#galerie {
    width: 950px;
    margin:0 auto;
    display: flex;
}

#galerie img {
    width: 300px;
}

#galerie .cadreImage {

}